button:active, button:focus {
    outline: none;
}

.entity-type-button {
    background: none;
    border: none;
    height: 3rem;
    width: 3rem;
    padding: 0;
    filter: drop-shadow(0 0 var(--dropshadow-size), black);
}

.entity-type-button:hover:not(:disabled) {
    fill: var(--white);
}

.clear-button {
    background: var(--primary);
    border: 2px solid var(--secondary);
    border-radius: var(--border-radius);
    color: var(--secondary);
}

.settings-button {
    width: 80%;
    margin-bottom: 0.5rem;
}

.submit-button {
    background: var(--dark-gray);
    height: 2rem;
    color: var(--secondary);
    border: 1px solid var(--grey);
    border-radius: var(--border-radius);
    font-weight: bold;
    transition: var(--transition-time);
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button:hover {
    border-color: var(--light-grey);
    color: var(--white);
}