:root {
    --primary: brown;
    --secondary: burlywood;
    --default-primary: brown;
    --default-secondary: burlywood;
    --white: antiquewhite;
    --black: rgb(30, 30, 30);
    --light-grey: rgb(150, 150, 150);
    --mid-grey: rgb(85, 85, 85);    
    --grey: rgb(50, 50, 50);
    --dark-grey: rgb(37, 38, 39);
    --super-dark-grey: rgb(19, 19, 19);
    --dark-grey-90: rgba(37, 38, 39, 0.9);
    --green: rgb(88, 180, 45);
    --green-50: rgba(80, 182, 36, 0.5);
    --dark-green: rgb(35, 77, 17);
    --red: rgb(220, 15, 45);
    --red-50: rgba(220, 15, 45, 0.5);
    --dark-red: rgb(94, 5, 18);
    --gold: goldenrod;
    --blue: rgb(58, 42, 146);
    --light-blue: rgb(88, 80, 156);
}  

.primary {
    color: var(--primary);
    fill: var(--primary);
}

.secondary {
    color: var(--secondary);
    fill: var(--secondary);
}

.green {
    color: var(--green);
    fill: var(--green);
}

.blue {
    color: var(--light-blue);
    fill: var(--light-blue);
}

.gold {
    color: var(--gold);
    fill: var(--gold);
}

.red {
    color: var(--red);
    fill: var(--red);
}

.white {
    color: var(--white);
    fill: var(--white);
}