:root {
    --mobile-breakpoint: 480px;
    --tablet-breakpoint: 986px;

    --main-width: 50rem;
    --settings-menu-width: 18rem;
}

@media only screen and (max-width:  986px) {

    :root {
        --main-width: calc(100vw - var(--margin));
        --settings-menu-width: 50vw;
    }
}