::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: var(--dark-grey);
}

::-webkit-scrollbar-thumb {
    background: var(--mid-grey);
    border-radius: 3px
}

::-webkit-scrollbar-thumb:hover {
    background: var(--light-grey);
}