:root {
    --margin: 0.5rem;
    --input-height: 2.5rem;
    --healthbar-height: 0.25rem;
}


.healthbar-height-spacer {
    height: var(--healthbar-height);
}

.minion-icon-spacer {
    height: 2.5rem;
}

.icon-header {
    height: 1.5rem;
    width: 3rem;
}
