:root {
    --table-padding: 0.3125rem;
    --table-cell-width: 3rem;
}

table {
    table-layout: auto;
    width: calc(var(--zoom-level) * 100%);
    border-collapse: collapse;
    border-spacing: 0;
    z-index: 1;
}

.table-container {
    width: 100%;
}

th {
    padding: 0.3125rem;
    vertical-align: bottom;
}

td {
    padding: 0.3125rem;
    vertical-align: top;
}

tr {
    position: relative;
}

.td-icon {
    min-width: 3rem !important;
}

.table-text {
    font-size: 1.4rem;
    font-weight: bold;
}

th.value-col, th.fn-col {
    width: 3rem;
}
