:root {
    --fontsize-S: 0.825rem;
    --fontsize-M: 1rem;
    --fontsize-L: 1.125rem;
    --fontsize-XL: 1.25rem;
    --fontsize-XXL: 1.75rem;
}

.header {
    font-weight: bold;
    font-size: 2rem;
}

.header-small {
    font-weight: bold;
    font-size: 1.5rem;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.name {
    text-transform: capitalize;
}

.overflow-ellipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    color: var(--gold);
}