:root {
    --primary: brown;
    --secondary: burlywood;

    --white: antiquewhite;
    --black: rgb(30, 30, 30);

    --light-grey: rgb(150, 150, 150);
    --grey: rgb(75, 75, 75);
    --dark-grey: rgb(37, 38, 39);
    --dark-grey-90: rgba(37, 38, 39, 0.9);

    --green: rgb(80, 182, 36);
    --green-50: rgba(80, 182, 36, 0.5);
    --dark-green: rgb(35, 77, 17);

    --red: rgb(220, 15, 45);
    --red-50: rgba(220, 15, 45, 0.5);
    --dark-red: rgb(94, 5, 18);

    --gold: goldenrod;

    --blue: rgb(80, 42, 146);
    --light-blue: rgb(108, 80, 156);

    --border-radius: 4px;
    --margin: 8px;

    --mobile-breakpoint: 480px;
    --tablet-breakpoint: 769px;
}

body {
    background: url('/background/stone.webp'), var(--dark-grey);
    font-family: 'Roboto Condensed', 'Arial', 'sans-serif';
    color: antiquewhite;
    margin: var(--margin);
}

table {
    table-layout: auto;
    width: 100%;
    max-width: 41em;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: 'Roboto Condensed';

}

th {
    padding: 5px;
    vertical-align: bottom;
}

td {
    padding: 5px;
    vertical-align: top;
}

.table-text {
    font-size: 20px;
    font-weight: bold;
}

th.value-col, th.fn-col {
    width: 3em;
}

.hidden {
    display: none;
    visibility: hidden;
}

.secondary {
    color: var(--secondary);
    fill: var(--secondary);
}

.green {
    color: var(--green);
    fill: var(--green);
}

.blue {
    color: var(--blue);
    fill: var(--blue);
}


.svg-fit {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    fill: inherit;
}

.svg-fit-container {
    position: relative;
}

input {
    height: 2.5rem;
    border-radius: var(--border-radius);
    border: none;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.9);
}

input:focus {
    outline: 3px solid var(--gold);
    background-color: white;
}

.icon-header {
    height: 1.5rem;
    width: 3rem;
}

.entity-type-button {
    background: none;
    border: none;
    height: 3em;
    width: 3em;
    padding: 0;
}

.entity-type-button:hover:not(:disabled) {
    fill: var(--white);
}

.header {
    font-weight: bold;
    font-size: 32px;
}

.relative {
    position: relative;
}

.bloodied {
    animation: pulse-red 1.6s linear infinite;
    animation-direction: alternate;
}

@keyframes pulse-red {
    from {
        background-color: rgba(255, 255, 255, 0.9);
    } to {
        background-color: var(--red);
    }
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.value-container {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 2.5rem;
}

.value-container input {
    width: 100%;
}

.minion-input {
    border: 1px solid grey;
}

.dead {
    background: var(--dark-grey);
}

.setting-toggle-button {
    background: none;
    border: none;
    border-top: 2px solid var(--light-grey);
    color: var(--white);
    font-size: 16px;
    height: 2rem;
    width: 100%;
}

.setting-toggle-button:hover {
    background-color: var(--light-grey);
}

select {
    height: 2rem;
    width: 100%;
    background: var(--dark-grey);
    color: var(--secondary);
    text-align: center;
    font-size: 16px;
    border-radius: var(--border-radius);
}

.submit-button {
    background: var(--dark-gray);
    height: 2rem;
    color: var(--secondary);
    border: 1px solid var(--grey);
    border-radius: var(--border-radius);
    font-weight: bold;
}

.submit-button:hover {
    border-color: var(--light-grey);
    color: var(--white);
}