:root {
    --primary: brown;
    --secondary: burlywood;
    --green: rgb(80, 182, 36);
    --bkg-dark: rgb(37, 38, 39);
}

body {
    background-color: var(--bkg-dark);
    font-family: 'Roboto Condensed';
    color: antiquewhite;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    padding: 5px;
    vertical-align: bottom;
}

td {
    padding: 5px;
    vertical-align: top;
}

th.value-col, th.fn-col {
    width: 3em;
}

button:disabled, .disabled {
    display: none;
    visibility: hidden;
}

.secondary {
    color: var(--secondary);
    fill: var(--secondary);
}

.green {
    color: var(--green);
    fill: var(--green);
}

.svg-fit {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.svg-fit-container {
    position: relative;
}

input {
    height: 2.5rem;
    border-radius: 0.2rem;
    border: none;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
}

.icon-header {
    height: 1.5rem;
}


.xbutton {
    padding-top: calc((2.5em - 1.5em) / 2);
    text-align: center;
}