:root {
    --primary: brown;
    --secondary: burlywood;
    --bkg-dark: rgb(37, 38, 39);
}

body {
    background-color: var(--bkg-dark);
    font-family: 'Roboto Condensed';
    color: antiquewhite;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 5px;
    vertical-align: top;
}

th.value-col, th.fn-col {
    width: 3em;
}